.increment-body{
    font-weight: bold;
    text-align: center;
}

h1{
    margin: 10px 0px 10px 0px;
}

h2{
    font-size: 50px;
    margin: 0px 0px 20px 0px;
}
/* button{
    border: none;
    font-weight:bold;
    width:200px;
    border-radius: 5px;
    color: white;
    padding:10px 0;
} */
#increment-btn{
    background: darkred;
    border: none;
    font-weight:bold;
    width:200px;
    border-radius: 5px;
    color: white;
    padding:10px 0;
}
#save-btn{
    margin-top: 10px;
    background:darkgreen;
    border: none;
    font-weight:bold;
    width:200px;
    border-radius: 5px;
    color: white;
    padding:10px 0;
}

/* Black Jack Game CSS */

.blackjack-body{
    font-weight: bold;
    text-align: center;
    background: rgb(4, 78, 4);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;
}

.jack-heading{
    color: goldenrod;
}

.blackjack-btn{
    color: #016f30;
    width: 150px;
    background: goldenrod;
    margin-top: 5px;
    border: none;
    font-weight:bold;
    border-radius: 5px;
    padding:10px 0;
}

/*Chrome Extention */

